iframe {
  width: 560px;
  height: 315px;
}

.center-image {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.button {
  margin: 0;
  padding: 10px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-decoration: none;
  text-align: center;
  color: $lightgray;
  display: block;
  padding: 5px 10px;
  border: 1px solid $gray;
  background-color: $body-color;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  a {
    text-decoration: none;
    color: $lightgray;
  }
}

.button:hover {
  background-color: $dark-gray;
}

.clickable {
  transition: all 0.2s ease-in-out;
}
.clickable:hover {
  opacity: 0.6;
}

.one-third-screen-image {
  width: 33%;
}
.one-half-screen-image {
  width: 49%;
}

.ial-center {
  text-align: center;
}

.padding-m {
  padding: 0.5rem;
}

.padding-xs {
  padding: 0.1rem;
}

@media only screen and (max-width: $large) {
  .one-third-screen-image {
    width: 49%;
  }
  .one-half-screen-image {
    width: 100%;
  }
}

@media only screen and (max-width: $small) {
  .one-third-screen-image {
    width: 100%;
  }
}
