.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin: 0 0 $large-space 0;
  }

  .author-name {
    font-family: $headings-font-family;
    text-transform: capitalize;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    &:hover {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }
    a {
      text-decoration: none;
      color: $dark;
    }
  }
}
hr {
  height: 1px;
  background-color: $dark;
  border: none;
}

.top-hr {
  margin: 0 0 $small-space 0;
}

.bottom-hr {
  margin: 0 0 $large-space 0;
}

nav {
  display: flex;
  justify-content: center;
  text-align: center;

  a {
    margin: 0 $small-space $small-space $small-space;
    text-decoration: none;
    color: $dark;
    -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
    &:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  }
}

.content-box {
  margin: 0 auto;
  width: 80%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.contact {
  ul {
    margin: 0 0 $large-space 0;
    padding: 0;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      margin-left: $large-space;
      &:first-child {
        margin-left: 0;
      }
      a {
        color: $dark;
        display: block;
        font-size: 18px;
        -webkit-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        -o-transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        transition: all 350ms cubic-bezier(0.13, 0.43, 0.54, 1.82);
        &:hover {
          -webkit-transform: scale(1.2);
          -ms-transform: scale(1.2);
          transform: scale(1.2);
        }
      }
    }
  }
}

footer .copyright {
  font-size: 14px;
  text-align: center;
  margin: 0;
}

#resume-button {
  display: none;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

#resume-embed {
  width: 100%;
  height: 600px;
}

@media only screen and (max-width: $large) {
  #resume-embed {
    display: none;
  }
  #resume-button {
    display: block;
  }
}
