.post {
  width: 31%;
  max-width: 100%;
  margin: $small-space;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  min-height: 11rem;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);
  box-shadow: 0 1px 1px 0 rgba(31, 35, 46, 0.15);

  &.blog-post {
    width: 100%;
    min-height: 0px;
    margin-left: 0;
  }

  &:hover {
    cursor: pointer;
    -webkit-transform: translate(0px, -2px);
    -ms-transform: translate(0px, -2px);
    transform: translate(0px, -2px);
    -webkit-box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
    box-shadow: 0 15px 45px -10px rgba(10, 16, 34, 0.2);
  }

  a {
    height: 100%;
    text-decoration: none;
    color: $dark;
  }

  .post-thumbnail {
    width: 100%;
    max-width: 100%;
    min-height: 15rem;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
  }

  .post-content {
    padding: 1rem;
    width: 100%;

    .post-date {
      font-size: 0.75rem;
    }

    .post-description {
      font-size: 0.85rem;
    }

    .post-title {
      margin: 0 0 5px;
      font-size: 1.3rem;
      font-weight: 400;
    }

    p {
      margin-top: 0;
    }
  }
}

a.older-posts,
a.newer-posts {
  font-size: 18px;
  display: inline-block;
  color: $body-color;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

a.older-posts:hover {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

a.newer-posts:hover {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}

.project-header {
  display: block;
  width: 100%;
  text-align: center;
}
