---
layout: default
---

<header class="site-header">
  <h1 class="author-name"><a href="{{site.baseurl}}/">{{site.author}}</a></h1>
  <div class="contact">
    <ul>
      {% if site.twitter %}
      <li>
        <a href="https://twitter.com/{{ site.twitter }}" target="_blank"
          ><i class="fa fa-twitter" aria-hidden="true"></i
        ></a>
      </li>
      {% endif %} {% if site.facebook %}
      <li>
        <a href="https://facebook.com/{{ site.facebook }}" target="_blank"
          ><i class="fa fa-facebook" aria-hidden="true"></i
        ></a>
      </li>
      {% endif %} {% if site.github %}
      <li class="github">
        <a href="http://github.com/{{site.github}}" target="_blank"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      {% endif %} {% if site.linkedin %}
      <li class="linkedin">
        <a href="https://in.linkedin.com/in/{{site.linkedin}}" target="_blank"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      {% endif %} {% if site.email %}
      <li class="email">
        <a href="mailto:{{site.email}}"><i class="fa fa-envelope-o"></i></a>
      </li>
      {% endif %}
    </ul>
  </div>
</header>
<hr class="top-hr" />
<nav>
  <a href="{{site.baseurl}}/">Home</a>
  <a href="{{site.baseurl}}/portfolio">Portfolio</a>
</nav>
<hr class="bottom-hr" />
<div class="content-box clearfix">
  {{ content }}
</div>
<footer>
  <div class="copyright">
    <p>{{site.time | date: '%Y'}} &copy; {{site.author}}</p>
  </div>
</footer>
