---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.img %}
    <div class="page-cover-image">
      <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.img}} alt="{{page.title}}">
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}
    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>
          {% if page.range %}
            {{page.range}}
          {% else %}
            {{page.date | date: '%B %Y'}}
         {% endif %}
         &nbsp;&nbsp;&nbsp;&nbsp;
        </span></div>
      </header>
      {{page.content | markdownify}}
      <div class="page-footer">
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
